* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(210.96deg, rgb(23, 16, 51) 14.804%, rgb(69, 48, 153) 49.94%, rgb(91, 146, 170) 71.789%);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html,
body {
    height: 100%;
    margin: 0;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}


.addCart {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px
}

.addCartLeft {
    display: block;
    width: 300px;
    transition: width 0.3s ease-in-out;
}

.addCartLeft.toggle {
    width: 80px;
}

.menubar {
    display: block;
    width: 260px;
    background: rgb(216, 226, 235);
    border-radius: 10px;
    box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 25px 0;
    height: 89%;
    margin: 16px 20px;
}

.addCartLeft.toggle .menubar {
    width: 64px;
    transition: width 0.3s ease-in-out;
}

.addCartLeft.toggle .sidebar-links .link_name {
    color: transparent
}

.addCartRight {
    width: 92%
}


.addCartLeft.toggle .header-logo {
    width: 64px;
    display: flex;
    justify-content: center;
    transition: width 0.3s ease-in-out;
}

.addCartLeft.toggle .header-logo img {
    width: 60px;
    height: 20px;
    transition: width 0.3s ease-in-out;
}

.header-logo {
    height: 100px;
    width: 260px;
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(217, 217, 217);
    margin: 16px 20px;
    padding: 20px
}

.header-logo img {
    height: 50px;
    width: 200px;
    text-align: center
}


.header {
    display: flex;
    align-items: center;
    margin-top: 16px;
    justify-content: space-between;
    height: 93px;
}

.right-side-header {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-right: 2rem;
    color: white;

}

.middle-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 2rem;
    color: white;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    gap: 0.7rem;
}

.sidebar-links li {
    list-style: none;
}

.sidebar-links svg {
    height: 16px;
    width: 25px;
}

.sidebar-links a {
    color: rgb(38, 34, 98);
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
    pointer-events: auto;
    text-decoration: none;
    display: flex;
    gap: 16px;
}

.sidebar-links a:hover {
    color: black;
}

.link_logo {
    display: flex;
    align-items: center;
}

.btn-contain {
    width: 85%;
    text-align: left;
    border: 1px solid grey
}

.input-group .svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group {
    background-color: white;
}

.first-col {
    box-sizing: border-box;
    border: 1px solid rgb(209, 192, 192);
    background: rgb(217, 217, 217);
    padding-top: 12px;
    margin-left: 40px;
    margin-bottom: 2rem;
    width: 850px
}

.addCartRight {
    border-radius: 10px;
    margin-top: 16px;
    margin-right: 1.5rem;
}


.stock svg {
    width: 16px;
    margin-left: 10px;
}

.add-product {
    border-radius: 10px;
    box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(216, 226, 235);
    margin-top: 8px;
    margin-right: 16px;
}

.add-product h1 {
    margin-left: 24px;
    padding-bottom: 24px;
    padding-top: 40px;
    color: rgb(69, 48, 153);
    font-size: 42px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
}

/* .add-product form {
    width: 600px
} */

.styled-textarea {
    width: 100%
}

.second-row .text {
    display: flex;
}

.enable-production {
    width: 50%;
}

.weight {
    width: 60%
}

.second-row {
    box-sizing: border-box;
    border: 1px solid rgb(209, 192, 192);
    background: rgb(217, 217, 217);
    padding: 10px 16px;
    margin-top: 4rem;
}

.first-row p {
    margin-bottom: 0;
}

.first-row {
    padding: 0 2rem;
}

.p-class {
    margin: 10px 0;
}

.second-row {
    padding: 1rem 2rem;
    margin: 2rem 1rem;
}

@media (max-width:990px) {
    .first-row {
        width: 800px
    }
}

@media (max-width:860px) {
    .styled-textarea {
        width: 400px
    }
}

@media (max-width:490px) {
    .styled-textarea {
        width: 300px
    }
}